:root{
    --primary-color: #d3b079;
    --secondary-color: #342f28;
    --text-color: #ffebca;
}

*{
    margin: 0;
}

body{ 
    background: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(hero-section-image.jpg);
}

.navbar{
    padding-top: 20px !important;
    font-size: 20px !important;
    padding-right: 20px !important;
}

.navbar a{
    margin-right: 30px !important;
    border-radius: 5px;
    color: var(--text-color) !important;
}

.navbar a:hover {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

.navbar-toggler{
    margin-left: auto;
    border: 0 !important;
    padding: .25rem .5rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 235, 202, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none !important;
    outline: none !important;
}

.navbar-collapse {
    text-align: right;
}


.title{
    text-align: center;
    padding-top: 150px;
    background: none;
}

.title h1{
    font-size: 70px;
    background: none;
}

.title h3{
    font-size: 30px;
    background: none;
}

.home-button-container{
    text-align: center;
    padding-top: 20px;
    background: none;
}

.home-button-container button{
    border: 0px !important;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 5px;
    box-shadow: 0 0 1px;
    font-size: 20px;
    cursor: pointer;
    padding: 7px;
    margin: 10px;
}

.home-button-container button:hover{
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border: 1px solid var(--primary-color) !important;
}    

.contact-hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(contact-hero-image.jpg);
}

.contact-container{
    background-color: var(--secondary-color);
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    margin-top: 20px;
}

.contact-title{
    text-align: center;
}

.contact-title h1{
    font-size: 50px;
}

.contact-title h3{
    font-size: 20px;
}

.email-phone a{
    color: var(--primary-color) !important;
    text-decoration: none;
}

.email-phone a:hover{
    text-decoration: underline;
    color: var(--text-color) !important;
}

.email-phone{
    margin: 5px;
}

.contact-container{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    margin-top: 0px;
}

.contact-content{
    overflow: hidden;
}

.contact-form{
    padding: 30px 50px;
    float: left;
    width: 50%;
}

.contact-form input, .contact-form textarea{
    padding: 5px;
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--text-color);
    color: var(--secondary-color);
}

.contact-form button{
    margin: 0px 0px 10px 28%;
    border: 0px;
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
    border-radius: 5px;
    box-shadow: 0 0 1px;;
    font-size: 15px;
    cursor: pointer;
    padding: 7px;
    width: 44%;
}

.contact-form button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.map{
    float: left;
    padding: 30px 30px;
    width: 50%;
}

iframe{
    width: 100%;
}

.menu-hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url(menu-image.jpg);
}

.menu-title{
    text-align: center;
    padding-top: 150px;
    background: none;
}

.menu-title h1{
    font-size: 70px;
    background: none;
}

.menu-container{
    background-color: var(--secondary-color);
    margin: 20px 10%;
    padding: 20px 0px;
    border-radius: 15px;
    border:#d3b079 2px solid !important;
}

.menu-section{
    text-align: center;
    padding: 20px 0px;
    background: none;
    margin-top: 30px;
    color: var(--primary-color) !important;
}

.menu-section-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background: none;
}

.card{
    border: 1px solid var(--primary-color) !important;
}

.card-title, .card-text{
    color: var(--primary-color) !important;
}

.card-img-top{
    height: 200px !important;
}

.card-body{
    background-color: var(--secondary-color) !important;
    border-radius: 0px 0px 5px 5px !important;
}

.btn{
    border: 0px !important;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

.btn:hover{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.reservation-hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(reservation.jpg);
}

.reservation-container{
    background-color: var(--secondary-color);
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.reservation-title{
    text-align: center;
}

.reservation-title h1{
    font-size: 70px;
}

.reservation-form{
    padding: 10px 140px;
    margin-left: 25%;
    margin-right: 25%;
}

.reservation-form input, .reservation-form textarea, .reservation-form select{
    padding: 5px;
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--text-color);
    color: var(--secondary-color);
}

.reservation-form input:focus, .reservation-form textarea:focus, .reservation-form select:focus{
    color: var(--secondary-color)
}

.reservation-form-button{
    margin: 0px 0px 10px 30%;
    border: 0px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 1px;;
    font-size: 15px;
    cursor: pointer;
    padding: 7px;
    width: 40%;
}

.reservation-form-button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
}

input{
    color: var(--secondary-color) !important;
}

.datetime{
    display: flex;
    gap: 10px;
}

@media (max-width: 992px){
    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(hero-section-image.jpg);
    }

    .navbar-collapse a{
        margin-left: 250px !important;
        margin-right: 5px !important;
        padding-right: 10px !important

    }

    .contact-hero{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(contact-hero-image-mobile.jpg);
        height: 180vh;
    }

    .contact-title{
        padding: 0px 10% 10px;
    }
    
    .contact-form, .map{
        float: none;
        width: 100%;
        padding: 0px 20px;
    }

    iframe{
        margin-bottom: 10px;
        width: 100% !important;
    }

    .reservation-hero{
        height: 150vh;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(reservation.jpg);
    }

    .reservation-form{
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
}